header {
    background-color: black;
    height: calc(80px);
    position: fixed;
    top: calc(0);
    left: calc(0);
    width: calc(100%);
    z-index: calc(999);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.background1 {
    position: relative; /* Agregamos la posición relativa al contenedor para que el posicionamiento absoluto del texto sea relativo a este contenedor */
    background:linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent, transparent, rgba(0, 0, 0, 0.3)),  url('background1.png') no-repeat center top; /* Ruta de la imagen y posición */
    background-size: cover; /* Ajusta la imagen al tamaño del div */
    height: calc(100vh); /* Ajusta la altura a tu preferencia */
    margin-top: calc(0px); /* Ajusta el valor para que el contenido no se oculte detrás del header */
    box-shadow: 6 6 3000px rgb(255, 0, 0);
    display: flex;
}

.background2 {
    position: relative;
    background: url('background2.png') no-repeat center top;
    background-size:cover;
    height: calc(100vh);
    width: calc(100%);
    margin-top: calc(0px);
}

.background3 {
    position: relative;
    background: url("Imagenes/Salon\ de\ la\ Fama.jpg");
    background-size:cover;
    height: calc(100vh);
    width: calc(100%);
    margin-top: calc(0px);
}

.background4 {
    position: relative;
    background: url("https://miro.medium.com/v2/resize:fit:2000/0*eIhVp0KXrXSSHORN.gif") no-repeat center top;
    background-size: cover;
    height: calc(120vh);
    width: calc(100%);
    margin-top: calc(550px);
}
.contenido {
    padding: 20px;
}

@keyframes parpadeo {
    0% { opacity: 1; } /* Opacidad completa al inicio */
    50% { opacity: 0.5; } /* Opacidad reducida al 50% */
    100% { opacity: 1; } /* Opacidad completa al final */
  }
  
/* Aplicamos la animación a los íconos de las redes sociales */
.social-logo img {
    animation: parpadeo 1s infinite;
}

.social-logo {
    display: flex;
    gap: 0px; /* Espacio entre los logos (horizontal) */
    margin-top: 10px; /* Espacio hacia arriba */
    margin-bottom: 10px; /* Espacio hacia abajo */
}

.social-logo {
    width: 38px;
    height: 38px;
}

/* Estilos para los textos en el header */
.header-texts {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: 10%;
    gap: 2px; /* Espacio de 30px entre los textos */
    text-decoration: none;
}

.header-text {
    margin: 0 18px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Estilo para el cambio de color en hover */
.header-text:hover {
    color: #ff9900; /* Cambia el color del texto al pasar el cursor sobre él */
}

.texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.texto-encima {
    color: white; /* Color del texto */
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; /* Sombra para simular el contorno */

/* Configuración del espacio interno */
padding: 10px; /* Opcional: añadimos un espacio interno de 10px para que el texto no quede pegado al borde */
}

.stop {
    width: 250px; /* Ancho deseado */
    height: 190px; /* Altura deseada */
    position: absolute;
    margin-top: -38%;
    margin-left: 40%; /* Margen izquierdo para separar la imagen del texto */
    z-index: 2;
}

.degradado {
    width: 100%;
    height: -100vh; /* Establecemos una altura del 100% del viewport */
    padding: 20px;
    background-image: linear-gradient(to bottom, #ff0000, #9e5757); /* Degradado de blanco a gris */
}
